-var profesionActual="Desarrollador Full Stack"
-var usuarioRedes="reffcp"
mixin icon-card(url,image,alt)
    div((click)="gotoUrl('"+url+"')")
        img.social-icon(src="../assets/"+image+"", alt=alt+"")
        br
        p=usuarioRedes

section.main-background
    section.main-container(id="inicio")
        section.section-main-1
            div.card-presentation
                img.profile-photo(src="../assets/yo.jpg", alt="foto-perfil")
                section
                    h2 Cristian Covarrubias
                    h4= profesionActual
                    section.section-social
                        +icon-card("https://www.linkedin.com/in/reffcp/","logo-linkedin.svg","logo-linkedin")
                        +icon-card("https://www.instagram.com/reffcp/","logo-instagram.svg","logo-instagram")
                        +icon-card("https://www.facebook.com/reffcp","logo-facebook.svg","logo-facebook")

        section.section-main-2
            button.main-button((click)="ancla('contact')") Contactar

